:root {
    --bg-img-width: calc(100% / 3);
    --bg-color-desc: #f9fafb;
}
body {
    font-family:sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

/* left side background and logo styling */
#bg-img {
    position: relative;
    height: 100%;
    width: var(--bg-img-width);
    background-image: url(images/wil-stewart-T26KCgCPsCI-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.logo {
    position: absolute;
    top: 18.5%;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: min(150px, 20%);
    background-color: rgb(0, 0, 0, 0.5);
    gap: 3%;
}
.logo-img {
    flex: auto;
    max-width: 30%;
    max-height: 80%;
}
h1{
    color: white;
    font-size: clamp(1rem, 5vw, 4rem);
}
h2 {
    font-size: clamp(1rem, 2vw, 1.5rem);
}

/* txt description/form/button - right side styling */

#txt-section {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: calc(100% - var(--bg-img-width));
    height: 100%;
}

.desc, .btn {
    flex: auto;
    padding-left: 7%;
    width: 100%;
    height: max(70%, 200px);
    background-color: var(--bg-color-desc);
}

.desc{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.form-section {
    padding-left: 7%;
    width: 100%;
    box-shadow: 0px 5px 10px grey;
    z-index: 10;
}

.description{
    width: 60%;
}
form {
    width: min(600px, 80% );
}

ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

li {
    display: flex;
    flex-direction: column;
    padding: 3% 3% 0 0;
}
.createAcc {
    font-size: 1.5rem;
    color: white;
    font-weight: 800;
    border: none;
    border-radius: 10px;
    background-color: #173138;
    padding: 12px 28px;
}
.btn-txt {
    position: relative;
    top: 150px;
}

.logIn {
    font-weight: bolder;
    color: #173138;
}




